body{
    font-size: 15px;
}

nav i{
    font-size: 0.9em;
}

section{
    padding: 0 2.4rem 2rem;
}

#cont-info{
    display: flex;
}

#cont-info article{
    width: 50%;
}


.cont-datos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    margin-left: 3rem;
}

.cont-datos div{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}

#tel{
    margin-left: 2rem;
}

.cont-datos img{
    width: 1.6rem;
}

#cont-social{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

#log{
    object-fit: cover;
    width: 62%;
}

#cont-social span{
    background-color: #243166;
    border-radius: 1rem;
    width: 62%;
    padding: 1rem 0;
    text-align: center;
    color: rgb(241, 241, 241);
    font-size: 1.5em;
    font-weight: 400;
}


#cont-social ul{
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#cont-social ul img{
    width: 2rem;
    transition: transform 1s;
}

#cont-social ul img:hover{
    transform: scale(1.2);
}

@media screen and (max-width:426px) {
    #cont-info{
        flex-direction: column;
    }    

    #cont-info article{
        width: 100%;
        margin: 2rem 0;
    }

    img{
        width: 100%;
    }

    .cont-datos{
        margin-left: 0;
    }

}
