@media screen and (max-width:426px) {
    #img-hamburger{
        display: block;
        width: 2rem;
    }

    #cont-logo{
        display: none;
    }
    
    header div{
        position: relative;
        padding: 1rem 2.4rem;
    }
    
    nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: white;
        padding: 1rem 0;
    }

    header div:hover nav{
        display: block;
    }
    

    nav ul{
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 100%;
        margin-left: 1rem;
    }

   nav > ul{
    gap: 6rem 0;
   } 


    
    #aInicio{
        display: block;
    }   


}



