@media screen and (max-width:426px) {
    #img-hamburger{
        display: block;
        width: 2rem;
    }

    #cont-logo{
        display: none;
    }
    
    header div{
        position: relative;
        padding: 1rem 2.4rem;
    }
    
    nav{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: white;
    }

    ul{
        flex-direction: column;
        gap: 4rem 0;
    }


    i{
        margin: 0.8rem 0;
    }

    .dropdwon i{
        margin: 0.2rem 0;
    }

    header div:hover nav{
        display: block;
    }
    
    #aInicio{
        display: block;
    }   


}



