body{
    font-size: 15px;
}

nav i{
    font-size: 0.9em;
}

section{
    padding: 0 2.4rem 2rem;
}

h3{
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 2rem;
    text-align: center;
}

h6{
    font-size: 1.5em;
    margin-bottom: 2rem;
}

article{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    padding-top: 2rem;
}

.cont-service{
    display: flex;
    flex-direction: column;
}

.card-service{
    display: flex;
    width: 100%;
    padding-top: 2rem;
}

.desc{
    padding-top: 1rem;
    font-size: 1.15em;
}

.list{
    padding-left: 2rem;
    padding-top: 1rem;
}

.list li{
    font-family: 'Mulish', sans-serif;
}

.card-service span{
    width: 20%;
    font-size: 1em;
    font-weight: bold;

}


.card-service p{
    width: 100%;
    padding: 0 2rem;
}


.card-service div{
    width: 80%;
}

@media screen and (max-width:426px){
    body{
        font-size: 20px;
    }
    
    .card-service{
        flex-direction: column;
    }

    .card-service span{
        width: 100%;
    }

    .card-service p{
        width: 100%;
        padding: 1rem 0;
    }

}
